
/* .footer-links a{

  color: white;
} */

.logo{
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 10px;
}

.time-mode,
.word-mode{
  display: flex;
  align-items: center;
}


